[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
flask = "*"
schedule = "*"
django = "*"
djangorestframework = "*"
sqlalchemy = "*"
python-dateutil = "*"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.6"
